body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #000000;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.ele-img-1,
.ele-img-2,
.sol-img-1,
.sol-img-2,
.inf-img-1,
.inf-img-2,
.footer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("/images/backgrond/bg.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/images/backgrond/floor.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/images/backgrond/contact.jpg");
  min-height: 400px;
}

/* Image eletric 1*/
.ele-img-1 {
  background-image: url("/images/backgrond/light-bulb.jpg");
  min-height: 400px;
}

/* Image eletric 2*/
.ele-img-2 {
  background-image: url("/images/backgrond/lightbulb.jpg");
  min-height: 400px;
}

/* Image solar 1*/
.sol-img-1 {
  background-image: url("/images/backgrond/solar-green.jpg");
  min-height: 400px;
}

/* Image solar 2*/
.sol-img-2 {
  background-image: url("/images/backgrond/panel.jpg");
  min-height: 400px;
}

/* Image Informatic 1 */
.inf-img-1 {
  background-image: url("/images/backgrond/code.jpg");
  min-height: 400px;
}
/* Image Informatic 2 */
.inf-img-2 {
  background-image: url("/images/backgrond/programming.jpg");
  min-height: 400px;
}

/* Footer */
.footer {
  background-image: url("/images/backgrond/bg.jpg");
  min-height: 40px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .ele-img-1,
  .ele-img-2,
  .sol-img-1,
  .sol-img-2,
  .inf-img-1,
  .inf-img-2 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
